.report-container{
    padding-left: 5em;
    padding-top:2em;
    padding-bottom:2em;
    padding-right: 5em;
    background-color:antiquewhite;
}



ol {
    background:gainsboro;
    padding: 20px;
    
}
#list span{
    color:purple;
}
#list li{
    
    margin-top: 25px;
}

ol li {
    background:white;
    padding: 5px;
    margin-left: 35px;
}

.navbar {
    margin-bottom: 0em;
}