.container {
    width: inherit;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin: auto;
    text-align: center;
  }

  td {
    border: 2em solid #fafafa;
    text-align: left;
    padding: 1em;
  }

  tr {
    background-color: #f7f7f7;
  }

  input.button {
    margin-left: 50em;
    font-size: 1.3em;
    border: 0px;
    background-color: #5937a8;
    color: white;
    width: 5em;
    border-radius: 3em;
  }

  input.button:hover {
    background-color: #7b43ff;
  }

  
  