@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.cd-side-nav {
  background-color: rgb(252, 105, 7);
  font-family: "Roboto Condensed";
  font-size: 1.2em;
  font-weight: 600;
}

.cd-main-header {
  background-color: rgb(124, 4, 124);
}

.divider {
  height: 0.5em;
}
.cd-main-header img {
  border-radius: 50%;
  width: 75%;
}
.cd-main-header {
  margin-bottom: 2em;
}

.wel-name {
  text-align: center;
  color: white;
  font-size: 1.5em;
}
.heads {
  color: black;
  margin-left: 2.4em;
  font-size: 1.5em;
  font-weight: bolder;
}

@media only screen and (max-width: 847px) {
  nav .cd-side__item {
    border-bottom: 0px;
  }
  .wel-name {
    color: black;
  }
}


