@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap");

.cd-side-nav {
  background-color: rgb(252, 105, 7);
  font-family: "Roboto Condensed";
  font-size: 1.2em;
  font-weight: 600;
}

.cd-main-header {
  background-color: rgb(124, 4, 124);
}
.cd-logo img {
  border-radius: 50%;
  width: 75%;
}
.cd-main-header {
  height: 5em;
}

.divider {
  height: 2em;
}
