{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    

    <title>SRIT</title>
    <link rel="shortcut icon" href="{% static 'img/sritlogo.png' %}" type="image/x-icon" />
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- Our Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/quiz.css' %}" />
    <link rel="stylesheet" href="{% static 'css/snackbar.css' %}">

</head>

<body>
    <div class="wrapper">
        <!-- Sidebar Holder -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3 class="sidebar-title">SRIT</h3>
            </div>

            <ul class="list-unstyled components">
                <p style="font-size: 1.4em;">Welcome username</p>
                <li>
                    <a href="{% url 'home' %}">Home</a>
                </li>

                <li class="active">
                    <a href="#homeSubmenu2" data-toggle="collapse" aria-expanded="false">Marks</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu2">
                        <li><a href="{% url 'previoussem' %}">Previous Semesters </a></li>
                        <li><a href="{% url 'currentsem' %}">Current Semester</a></li>

                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Activities</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li><a href="{% url 'academics' %}">Academics </a></li>
                        <!-- <li><a href="#">Extra Curricular</a></li> -->

                    </ul>
                </li>
                <li class="active">
                    <a href="#homeSubmenu1" data-toggle="collapse" aria-expanded="false">Progress</a>
                    <ul class="collapse list-unstyled" id="homeSubmenu1">
                        <li><a href="{% url 'subjectwise' %}">Subject Wise</a></li>
                        <li><a href="{% url 'overall' %}">Overall</a></li>

                    </ul>
                </li>
                </li>

                <li>
                    <a href="{% url 'report' %}">Report</a>
                </li>
                <li>
                    <a href="{% url 'suggestions' %}">Suggestions</a>
                </li>
            </ul>
        </nav>
        <!-- Page Content Holder -->
        <section id="content">
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" id="sidebarCollapse" class="btn btn-info navbar-btn">
                            <i class="glyphicon glyphicon-align-left"></i>
                            <span>DASHBOARD</span>
                        </button>
                        <h1 class="title">DASHBOARD</h1>
                    </div>
                    <div class="power" id="">
                        <a href="{% url 'logout' %}"><i class="pbtn glyphicon glyphicon-off"></i></a>
                    </div>
                </div>
            </nav>

            <section class="form-container">
                <form action="{% url 'quizfun' id %}" method="POST" name="quiz" class="quiz" >
                {% csrf_token %}
                    <p><h3>{{questions.question0.question}}</h3></p>
                    {% for option in questions.question0.options %}
                        <input type="hidden" name="question1" value="{{questions.question0.question}}" />
                        <input type="radio" id="o1" name="q1" value= "{{option}}">
                        <label for="o1">{{option}}</label><br>
                    {% endfor %}
                    <br>
                    <p><h3>{{questions.question1.question}}</h3></p>
                    {% for option in questions.question1.options %}
                        <input type="hidden" name="question2" value="{{questions.question1.question}}" />
                        <input type="radio" id="o2" name="q2" value= "{{option}}">
                        <label for="o2">{{option}}</label><br>
                    {% endfor %}
                    <br>
                    <p><h3>{{questions.question2.question}}</h3></p>
                    {% for option in questions.question2.options %}
                        <input type="hidden" name="question3" value="{{questions.question2.question}}" />
                        <input type="radio" id="o3" name="q3" value= "{{option}}">
                        <label for="o3">{{option}}</label><br>
                    {% endfor %}
                    <br>
                    <p><h3>{{questions.question3.question}}</h3></p>
                    {% for option in questions.question3.options %}
                        <input type="hidden" name="question4" value="{{questions.question3.question}}" />
                        <input type="radio" id="o4" name="q4" value= "{{option}}">
                        <label for="o4">{{option}}</label><br>
                    {% endfor %}
                    <br>
                    <p><h3>{{questions.question4.question}}</h3></p>
                    {% for option in questions.question0.options %}
                        <input type="hidden" name="question5" value="{{questions.question4.question}}" />
                        <input type="radio" id="o5" name="q5" value= "{{option}}">
                        <label for="o5">{{option}}</label><br>
                    {% endfor %}
                    <br>
                    
                    
                    
                    {% comment %} <p><h3>{{questions[0]}}</h3></p>
                    <input type="radio" id="o21" name="q2" value="Cascading Style Sheets">
                    <label for="o21">Cascading Style Sheets</label><br>
                    <input type="radio" id="o22" name="q2" value="Cascading Sheets and Styles">
                    <label for="o22">Cascading Sheets and Styles</label><br>
                    <input type="radio" id="o23" name="q2" value="Computer Styled Selections">
                    <label for="o23">Computer Styled Selections</label><br>
                    <input type="radio" id="o24" name="q2" value="Compound Style Sheets">
                    <label for="o24">Compound Style Sheets</label><br>
                    <br>
                    <p><h3>{{questions[0]}}</h3></p>
                    <input type="radio" id="o31" name="q3" value="Home Tool Markup Language">
                    <label for="o31">Home Tool Markup Language</label><br>
                    <input type="radio" id="o32" name="q3" value="Hyper Text Markup Language">
                    <label for="o32">Hyper Text Markup Language</label><br>
                    <input type="radio" id="o33" name="q3" value="Hyper Text Machine Language">
                    <label for="o33">Hyper Text Machine Language</label><br>
                    <input type="radio" id="o34" name="q3" value="Hyper Text Mobile Language">
                    <label for="o34">Hyper Text Mobile Language</label><br>
                    <br>
                     <p><h3>{{questions[0]}}</h3></p>
                    <input type="radio" id="o31" name="q3" value="Home Tool Markup Language">
                    <label for="o31">Home Tool Markup Language</label><br>
                    <input type="radio" id="o32" name="q3" value="Hyper Text Markup Language">
                    <label for="o32">Hyper Text Markup Language</label><br>
                    <input type="radio" id="o33" name="q3" value="Hyper Text Machine Language">
                    <label for="o33">Hyper Text Machine Language</label><br>
                    <input type="radio" id="o34" name="q3" value="Hyper Text Mobile Language">
                    <label for="o34">Hyper Text Mobile Language</label><br>
                    <br>
                     <p><h3>{{questions[0]}}</h3></p>
                    <input type="radio" id="o31" name="q3" value="Home Tool Markup Language">
                    <label for="o31">Home Tool Markup Language</label><br>
                    <input type="radio" id="o32" name="q3" value="Hyper Text Markup Language">
                    <label for="o32">Hyper Text Markup Language</label><br>
                    <input type="radio" id="o33" name="q3" value="Hyper Text Machine Language">
                    <label for="o33">Hyper Text Machine Language</label><br>
                    <input type="radio" id="o34" name="q3" value="Hyper Text Mobile Language">
                    <label for="o34">Hyper Text Mobile Language</label><br>
                    <br>
                     <p><h3>{{questions[0]}}</h3></p>
                    <input type="radio" id="o31" name="q3" value="Home Tool Markup Language">
                    <label for="o31">Home Tool Markup Language</label><br>
                    <input type="radio" id="o32" name="q3" value="Hyper Text Markup Language">
                    <label for="o32">Hyper Text Markup Language</label><br>
                    <input type="radio" id="o33" name="q3" value="Hyper Text Machine Language">
                    <label for="o33">Hyper Text Machine Language</label><br>
                    <input type="radio" id="o34" name="q3" value="Hyper Text Mobile Language">
                    <label for="o34">Hyper Text Mobile Language</label><br>
                    <br>
                     <p><h3>{{questions[0]}}</h3></p>
                    <input type="radio" id="o31" name="q3" value="Home Tool Markup Language">
                    <label for="o31">Home Tool Markup Language</label><br>
                    <input type="radio" id="o32" name="q3" value="Hyper Text Markup Language">
                    <label for="o32">Hyper Text Markup Language</label><br>
                    <input type="radio" id="o33" name="q3" value="Hyper Text Machine Language">
                    <label for="o33">Hyper Text Machine Language</label><br>
                    <input type="radio" id="o34" name="q3" value="Hyper Text Mobile Language">
                    <label for="o34">Hyper Text Mobile Language</label><br>
                    <br>
                     <p><h3>{{questions[0]}}</h3></p>
                    <input type="radio" id="o31" name="q3" value="Home Tool Markup Language">
                    <label for="o31">Home Tool Markup Language</label><br>
                    <input type="radio" id="o32" name="q3" value="Hyper Text Markup Language">
                    <label for="o32">Hyper Text Markup Language</label><br>
                    <input type="radio" id="o33" name="q3" value="Hyper Text Machine Language">
                    <label for="o33">Hyper Text Machine Language</label><br>
                    <input type="radio" id="o34" name="q3" value="Hyper Text Mobile Language">
                    <label for="o34">Hyper Text Mobile Language</label><br>
                    <br> {% endcomment %}

                    <input type="submit" value="Submit" class="quiz-button">





                </form>

            </section>



        </section>
    </div>

    <!-- jQuery CDN -->
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <!-- Bootstrap Js CDN -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            $("#sidebarCollapse").on("click", function () {
                $("#sidebar").toggleClass("active");
            });
        });
    </script>
</body>

</html>