{% load static %}

<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link
      rel="shortcut icon"
      href="{% static 'img/sritlogo.png' %}"
      type="image/x-icon"
    />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/snackbar.css' %}">

    <style>
        .logosrit {
            height: 3em;
        }
    </style>

    <title>SRIT</title>
</head>

<body style="background-color: rgb(231, 205, 157);">

    <nav class="navbar navbar-expand-lg navbar- bg-" style="background-color: purple;">
        <div class="container-fluid">
            <a class="navbar-brand" href="https://srit-student-self-assesment.herokuapp.com/"><img class="logosrit" src="{% static 'img/sritlogo.png' %}" alt="Logo"></a>
            <h3 class="text-primary">SRIT</h3>
        </div>
    </nav>
    <div id="snackbar">
        
        {% if messages %}
            {% for message in messages %}
                {{message}}
            {% endfor %}
            <script>
                // Get the snackbar DIV
                var x = document.getElementById("snackbar");
        
                // Add the "show" class to DIV
                x.className = "show";
        
                // After 3 seconds, remove the show class from DIV
                setTimeout(function () { x.className = x.className.replace("show", ""); }, 3000);
            </script>
        {% endif %}
            
    </div>
    
    <h1 class="text-center my-3">SignUp Here</h1>
    <div class="container mt-4">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8">
                <div class="container">
                    <form action="{% url 'signup' %}" onsubmit="return checkPass()" method="POST">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-6">
                                <label for="firstName" class="form-label">First name</label>
                                {{form.fn}}
                            </div>
                            <div class="col-6">
                                <label for="lastName" class="form-label">Last name</label>
                                {{form.ln}}
                            </div>
                        </div>
                        <div class="mt-3">
                            <label for="user" class="form-label">Username</label>
                            {{form.usr_nm}}
                        </div>
                        <div class="mt-3">
                            <label for="user" class="form-label">Roll Number</label>
                            {{form.roll_no}}
                        </div>
                        <div class="mt-3">
                            <label for="user" class="form-label">Email</label>
                            {{form.email}}
                        </div>
                        <div class="mt-3">
                            <label for="sem" class="form-label">Semester No.</label>
                            {{form.sem_no}}
                        </div>
                        <div class="mt-3">
                            <label for="stream" class="form-label">Stream</label>
                            {{form.branch}}
                        </div>
                        <div class="mt-3">
                            <label for="stream" class="form-label">Phone Number</label>
                            {{form.phn_no}}
                        </div>
                        <div class="mt-3">
                            <label for="stream" class="form-label">Security Code</label>
                            {{form.security_code}}
                        </div>
                        <div> 
                            <h6 style="font-size: 12px;color:red;padding-top:0.5em">Remember this code carefully including the 
                                case sensitivity, Do not share this code with others 
                            </h6> 
                        </div>
                        <div class="mt-3">
                            <label for="pass" class="form-label">Password</label>
                            <input type="password" required class="form-control" name="pass" placeholder="Password"
                                id="psw">
                        </div>
                        <div class="mt-3">
                            <label for="pass" class="form-label">Confirm Password</label>
                            <input type="password" required class="form-control" name="cnfpass"
                                placeholder="confirm Password" id="cpsw">
                        </div>
                        <div class="shps" style="margin-top: 0.5em;">
                            Show Password: <input type="checkbox" name="showpass" id="showpass" onclick="showPass()"
                                style="height: 12px;">
                        </div>
                        <button type="submit" class="btn btn-primary mt-4">Submit</button>
                        <br>
                        <span id="res" class="my-1" style="margin-bottom: 10px; color:red;"></span>
                        <br>
                        <br>
                        <div>
                            <h6 class="text-center mt-3">If you already have an account <a href="{% url 'login' %}">Click
                                    Here</a>
                            </h6>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-2"></div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
    <script>
        function showPass() {
            var x = document.getElementById('psw');
            var y = document.getElementById('cpsw');
            if (x.type === "password") {
                x.type = "text";
                y.type = "text";
            } else {
                x.type = "password";
                y.type = "password";
            }
        }
        function checkPass() {
            originalPassword = document.getElementById('psw').value
            confirmPassword = document.getElementById('cpsw').value
            if (originalPassword == confirmPassword) {
                document.getElementById('res').innerHTML = ""
                return true
            }
            else {
                document.getElementById('res').innerHTML = "Passwords do not match! Try again"
                return false
            }
        }
    </script>
</body>

</html>